body {
    background-color: black;
}
.person {
    color: rgb(0, 255, 0);
    font-family:'Courier New', Courier, monospace;
}
#intro {
    color: rgb(0, 255, 0);
    font-family:'Courier New', Courier, monospace;
    border-bottom: solid green 1px;
}
.button {
    background-color: black;
    color: rgb(0, 255, 0);
    padding: 10px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}
#buttons {
    display:flex;
    justify-content: center;
}